<nav class="navbar navbar-inverse navbar-fixed-top navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid" style="font-size: larger; font-weight: 500; font-family: Georgia, 'Times New Roman', Times, serif;">
      <div class="navbar-header" style="margin-top:10px">
        <a class="navbar-brand" href="http://localhost:3000/">
            <span style="text-align: center; color:darkslategrey; font-size:25px;">
                <img src="https://www.theladders.com/s3proxy/company-photo.theladders.com/3187/15f5e4d9-dddb-40ae-beb6-6445f83a047d.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                ITOM Customizer
            </span>
        </a>
      </div>
      <span style="margin-left: 80rem;">
        <i class="fa fa-user-circle-o fa-2x" style="color:black; margin-top: 25px;"></i> <%= loggedIn %>
      </span>
    </div>
</nav>